.event--selectedRestuarants
{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    overflow: auto;
    margin: 10px;
    padding: 5px;
    width: 100%;
    justify-content: center;
}
.event--selectedRestuarantsSubmited
{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    overflow: auto;
    margin: 10px;
    padding: 5px;
}

.event--confirmed-selectedGuests {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    padding: 5px;
}

.event--container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* align-items: center; */
    height: stretch;
    width: 100vw;
    overflow: auto;
}

.event--title
{
    text-align: center;
    color: white;
}

.event--time-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.event--time-container h5
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

#event--date, #event--time, #event--deadline
{
    border: none;
    border-radius: 10px;
    text-indent: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.event--restaurants-container,
.event--guests-container,.event--submit-container
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.event-searchBtn, .event-guestBtn, .event-submitBtn
{
    width: 100%;
}