.event-results-container {

  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 25px;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin-top: 3rem;

}

.event-results-content {

  margin-left: 200px;
 
  
}

.event-results-header-container {
  grid-area: header;
  border-right: 1px solid #444;
  width: 500px;
  height: 100vh;
  position: fixed;
}

.event-results-restaurants {
 margin-left: 500px;
}
.event-results-qualified {
  grid-area: qualified;
}

.event-results-disqualified {
  grid-area: disqualified;
}

.qualified--container,
.disqualified--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.event--confirmed-selectedGuests {
  grid-area: guests;
}

.side {
  grid-area: side;
}

.event--confirmed-guest {
  background-color: rgba(200, 200, 200, 1);
  border-radius: 1rem;
  border: none;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 90%;
}

.event--confirmed-selectedGuests-header {
  color: black;
  font-size: 1.2rem;
}

.event-results-container h1 {
  text-align: center;
  font-family: 'Lobster', sans-serif;
}

.event-results-container h2 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  text-align: center;
}

.event-results-title {
  font-size: 4rem;
}

/* .show-counter {
  text-align: center;
  font-size: 1.5rem;
} */

.event-results-final-text {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 2rem;
  text-align: center;
  background-color: darkorange;
  /* line-height: 5rem; */
  border-radius: 1rem;
  margin: 10px;
  padding: 5px;
  height: fit-content;
}

/* Scrollbar */
.event-results-container::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.event-results-container::-webkit-scrollbar-track {
  border-radius: 10px;
  backdrop-filter: blur(.25rem) saturate(180%);
  -webkit-backdrop-filter: blur(.25rem) saturate(180%);
  background-color: rgba(200, 200, 200, 0.25);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Handle */
.event-results-container::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 10px;
}

/* Handle on hover */
.event-results-container::-webkit-scrollbar-thumb:hover {
  background-color: darkorange;
}

@media only screen and (max-width: 540px) {
  .event--confirmed-guest {
    flex-direction: column;
    width: 100%;
  }

  .guest--invite-link {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .guest--name-label {
    padding: 5px;
  }
  .guest--name-input, .copyBtn {
    padding: 0.25rem;
    margin: 5px 0 5px 0;
  }

  .event-results-container {
    margin-top: 130px;
    
  }

  .event-results-content {
    margin-top: 3rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .event-results-header-container {
   border-right: 0px;
    border-bottom: 1px solid #444;
    width: 100%;
    height:fit-content;
    position:unset;
 
  }
  
  .event-results-restaurants {
   margin-left: 0;
  }
}