.event--container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: fit-content;
    overflow: auto;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 2rem;
    background-color:rgba(0, 0, 0, 0.5);
}

.event--header-container
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.event--title
{
    text-align: center;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    outline-color: white;
}

.event--title-icon
{
    width: 24px;
    height: 24px;
    fill: white;
    margin-left: 1rem;
}

.event--time-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.event--time-container h5
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

#event--date, #event--time, #event--deadline
{
    color-scheme: dark;
    -webkit-text-fill-color: white;
    border: none;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    font-size: 1rem;
    outline: none;
}

.event--restaurants-container,
.event--guests-container,.event--submit-container
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.event--selectedRestuarants,
.event--selectedGuests
{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    overflow: auto;
    margin: 10px;
    padding: 20px;
    width: 100%;
    justify-content: center;
    background-color: rgba(200, 200, 200, 0.8);
    border-radius: 2rem;
    width: fit-content;
    height: fit-content;
}

.event-searchBtn,.event-guestBtn, .event-submitBtn
{
    color:white;
    background: rgba(var(--primary-rgb), .5);
    padding: 15px;
    font-size: 1.5rem;
    border: 1px solid rgba(var(--primary-rgb));
    border-radius: .25em;
    outline: none;
    cursor: pointer;
    margin: 5px;
    width: 100%;
}

.event-searchBtn:focus,
.event-searchBtn:hover,
.event-guestBtn:focus,
.event-guestBtn:hover,
.event-submitBtn:focus,
.event-submitBtn:hover
{
  color: white;
  background-color: rgba(var(--primary-rgb), .8);
}

.event-guestBtn:active,
.event-searchbtn:active,
.event-submitBtn:active
{
    transform: scale(0.95);
}

.event--selectedRestuarantsSubmited
{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    overflow: auto;
    margin: 10px;
    padding: 5px;
}

.event--confirmed-selectedGuests 
{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    padding: 5px;
}