.event--selectedRestuarants {
    width: 800px;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}