.qualified--container, .disqualified--container,.event-results-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.event-results-container
{
    background-color: rgba(200, 200, 200, 0.8);
    padding: 20px;
    border-radius: 1rem;
    height: 800px;
    min-width: 1400px;
    overflow: auto;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.event--confirmed-guest
{
    background-color: rgba(200, 200, 200, 1);
    border-radius: 1rem;
    border: solid #333 2px;
    color: black;
    padding: 10px;
    display: flex;
}

.event-results-container h1, .event-results-container h2
{
    text-align: center;
    font-family: 'Lobster', sans-serif;
}

.show-counter
{
    text-align: center;
    font-size: 1.5rem;
}

/* Scrollbar */
.event-results-container::-webkit-scrollbar 
{
  width: 20px;
}

/* Track */
.event-results-container::-webkit-scrollbar-track 
{
  border-radius: 10px;
  backdrop-filter: blur(.25rem) saturate(180%);
  -webkit-backdrop-filter: blur(.25rem) saturate(180%);
  background-color: rgba(200, 200, 200, 0.25);
  margin-top: 10px;
  margin-bottom: 10px;
}
 
/* Handle */
.event-results-container::-webkit-scrollbar-thumb 
{
  background-color: orange;
  border-radius: 10px;
}

/* Handle on hover */
.event-results-container::-webkit-scrollbar-thumb:hover
{
  background-color: darkorange;
}