.badge.open
{
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
}

.badge.closed
{
  background-color: red;
}

h3
{
  text-align: center;
}

.restaurant--container
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 2rem;
  margin: 20px;
  width: 400px;
  height: 600px;
  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.restaurant--name
{
  font-size: 1.5em;
}

.restaurant--type
{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: gray;
}

.restaurant--address a
{
  font-style: italic;
  text-decoration: none;
}

.restaurant--phone[href^="tel:"]
{
  text-decoration: none;
  padding: 10px;
}

.restaurant--phone[href^="tel:"]::before 
{
  content: "\260E";
  margin-right: 0.5em;
}

.restaurant--image
{
  max-height: 250px;
  max-width: 100%;
  object-fit: cover;
}

.rating svg
{
  width: 20px;
  height: 20px;
}

.rating
{
  vertical-align: top !important;
}

.restaurant--buttons
{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
}

.restaurant--favoriteBtn, .restaurant--hoursBtn, .addBtn
{
  width: stretch;
  height: 64px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center
}
   
.restaurant--favoriteBtn, .restaurant--favoriteBtn span 
{
    transition: 200ms;
}
   
.restaurant--favoriteBtn .favoriteBtn-text , .restaurant--hoursBtn, .addBtn
{
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}
   
.restaurant--favoriteBtn .favoriteBtn-icon, .addBtn .addBtn-icon
{
  display: flex;
  position: absolute;
  height: 32px;
  width: 32px;
  opacity: 0;
}
   
.restaurant--favoriteBtn svg, .addBtn svg
{
  width: stretch;
  height: stretch;
  fill: transparent;
}

.restaurant--favoriteBtn:hover, .favorited
{
  background: orange;
}

.restaurant--hoursBtn:hover
{
  background-color: rgb(var(--primary-rgb));
}

.addBtn:hover
{
  background-color: rgb(0, 190, 0);
}

.addBtn:disabled, .addBtn:disabled:hover .addBtn-icon, .addBtn:disabled .addBtn-text
{
  background-color: grey;
  color: black !important;
  animation: none;
}

.restaurant--favoriteBtn:hover .favoriteBtn-text,
.favorited .favoriteBtn-text,
.addBtn:hover .addBtn-text
{
  color: transparent;
}
   
.restaurant--favoriteBtn:hover .favoriteBtn-icon, 
.favorited .favoriteBtn-icon , 
.addBtn:hover .addBtn-icon
{
  animation: fadeIn ease-in-out 0.2s forwards;
}

.restaurant--favoriteBtn:hover svg, 
.favorited svg, 
.addBtn:hover svg 
{
  fill: white;
}

.restaurant--favoriteBtn:focus, .addBtn:focus
{
  outline: none;
}
   
.restaurant--favoriteBtn:active .favoriteBtn-icon svg, .addBtn:active .addBtn-icon svg 
{
  transform: scale(0.8);
}

@keyframes fadeIn 
{
  0%{opacity: 0; transform: translateY(-100%);}
  50%{opacity: .2;}
  100%{opacity: 1; transform: translateY(0);} 
}

.hours--modal-content
{
  width: 800px !important;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.hours--modal-body
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 50px !important;
}

.hours--modal-footer
{
  border-top: solid rgba(200, 200, 200, 0.8) 2px!important;
}

.hours--modal-footer .hours--modal-closeBtn
{
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background-color: rgb(var(--primary-rgb));
  width: 128px;
  height: 64px;
}

.hours--modal-footer .hours--modal-closeBtn:hover
{
  background-color: rgb(0, 120, 200);
}

.hours--modal-footer .hours--modal-closeBtn:active
{
  transform: scale(0.9);
}

.hours--container
{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  border: solid white 2px;
  width: 200px;
}

.hours--header
{
  padding: 10px;
  border-bottom: solid black 2px;
}