.restaurant--thumbnail 
{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
}

.restaurant--thumbnail-image 
{
    width: 256px;
    max-height: 128px;
    /* max-width: 100%; */
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}

.restaurant--thumbnail-button
{
    width: stretch;
    height: 64px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center
}
   
.restaurant--thumbnail-button, .restaurant--thumbnail-button span 
{
    transition: 200ms;
}
   
.restaurant--thumbnail-button .text 
{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}
   
.restaurant--thumbnail-button .icon 
{
    position: absolute;
    transform: translateX(128px);
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
   
.restaurant--thumbnail-button svg 
{
    width: 15px;
    fill: transparent;
}

.restaurant--thumbnail-button:hover 
{
    background: #ff3636;
}

.restaurant--thumbnail-button:hover .text 
{
    color: transparent;
}
   
.restaurant--thumbnail-button:hover .icon 
{
    width: 128px;
    transform: translateX(0);
}

.restaurant--thumbnail-button:hover svg 
{
    width: 15px;
    fill: white;
}

.restaurant--thumbnail-button:focus 
{
    outline: none;
}
   
.restaurant--thumbnail-button:active .icon svg 
{
    transform: scale(0.8);
}