*, *::before, *::after
{
  box-sizing: border-box;
}

.badge.closed
{
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}

.badge.open
{
    background-color: green;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}

h3
{
  text-align: center;
}

.restaurant--container
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border: solid #222 2px;
  border-radius: 2rem;
  margin: 20px;
  width: 400px;
  height: 620px;
}

.restaurant--name
{
 font-size: 1.5em;
}

.restaurant--type
{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: gray;
}

a[href^="tel:"]
{
  text-decoration: none;
}

a[href^="tel:"]::before 
{
  content: "\260E";
  margin-right: 0.5em;
}

.restaurant--address a
{
  font-style: italic;
  text-decoration: none;
}

.restaurant--image
{
  max-height: 250px;
  max-width: 100%;
  object-fit: cover;
}

.restaurant--hours
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: space-around;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.hours
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: space-between;
  text-align: center;
  justify-content: center;
  padding: 1em;
}

.closeBtn
{
  border: none;
  max-width: 100px;
  background-color: #222;
  color:white;
  align-self: flex-end;
  padding: 1em;
  margin: 5px;
}

.restaurant--favoriteBtn, .restaurant--addBtn, .restaurant--removeBtn
{
  border: none;
  max-width: 400px;
  align-self: center;
  padding: 1em;
  margin: 5px;
}