.profile--sidebar {
  height: 100%;
  width: 220px;
  background-color: #333;
  border-right: 1px solid #444;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.profile--sidebar-username {
  color: white;
  border-bottom: 1px solid #444;
  font-size: 2rem;
  padding-bottom: 20px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile--sidebar-icon {
  color: white;
  
}

.profile--sidebar-btn {
  padding: 20px;
}

.profile--sidebar-btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.event-btn, .fav-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  width: 100%;
}


.profile {
  display:flex;
  justify-content: center;
  width: 60%;
  margin-left: 200px;
}

.profile--events {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: left;
  
}



.profileContainer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.profileContainer h2 {
  color: white;
  font-size: 32pt;
  font-family: 'Lobster', sans-serif;
  text-align: center;
  /* border-bottom: solid grey 2px; */
  padding: 20px 0 20px 0;
  width: 100%;
  margin: auto;
}

/* .profile--array-container {
  display: flex;
  justify-items: center;
} */

/* Scrollbar */
.profileContainer::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.profileContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  backdrop-filter: blur(.25rem) saturate(180%);
  -webkit-backdrop-filter: blur(.25rem) saturate(180%);
  background-color: rgba(200, 200, 200, 0.25);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Handle */
.profileContainer::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 10px;
}

/* Handle on hover */
.profileContainer::-webkit-scrollbar-thumb:hover {
  background-color: darkorange;
}

@media only screen and (max-width: 799px) {
  .profile {
    margin-left: 0;
    margin-top: 10rem;
  }

  .profile--sidebar {
    height: 100px;
    display: grid;
    width: 100%;
    margin-top: 6rem;
    justify-content: center;
    padding-top: 0;
    border-top: 1px solid #444;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'username username'
    'event-btn fav-btn';
  }

  .profile--sidebar-icon {
    margin-right: 10px;
  }
  .profile--sidebar-username {
    grid-area: username;
    border:none;
    padding: 0;
    justify-content: center;
  }

  .profile--sidebar-btn {
    font-size: 24px;
    padding: 0;
    background-color: #222;
    border-radius: 5px 5px 0 0 ;
  }

  .event-btn {
    grid-area: event-btn;
    /* border-right: 0.5px solid #444; */
    margin-right: 1px;
  }

  .fav-btn {
    grid-area: fav-btn;
    margin-left: 1px;
    /* border-left: 0.5px solid #444; */
  }

  .active-btn {
    background-color: black;
  }
  
  .active-btn.profile--sidebar-btn:hover {
    background-color: black;
  }

  .profileContainer {
    width: 100%;
    height: 100vh;
    justify-content: center;
    border-radius: 0;
  }

  .profileContainer h2 {
    width: 100%;
    margin-left: 0;
    display: none;
  }

  .profile--events {
    width: 100%;
    justify-content: center;
    margin-left: 0;
    gap: 20px;
  }
}

@media only screen and (max-width: 540px) {
  .profile--events {
    width: 100%;
    justify-content: center;
    margin-left: 0;
  }

  .profileContainer {
    justify-content: center;
  }
}