/* .guest--form-header {
    display: flex;
    justify-content: center;
} */

.guest--form-modal > .modal-content {
    width: 600px;
    backdrop-filter: blur(.25rem) saturate(180%);
  -webkit-backdrop-filter: blur(.25rem) saturate(180%);
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 12px;
  height: 800px;
  overflow-x: hidden;
  
}

.guest--addBtn {
    /* color: white;
    background: rgba(var(--primary-rgb), .5);
    padding: 15px;
    font-size: 1.5rem;
    border: 1px solid rgba(var(--primary-rgb));
    border-radius: .25em;
    outline: none;
    cursor: pointer;
    margin: 5px;
    width: 100%; */
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: rgb(11, 114, 42);
    border: none;
    font-weight: bold;
    font-size: 12pt;
    color: white;
    text-align: center;
    margin: 5px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
    /* margin-right: 15px; */
}

.guest--addBtn:hover {
    background-color: rgb(6, 73, 17);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5) inset;
}

.guest--addBtn:active {
    transform: scale(.95);
}

.guest--removeBtn {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: rgb(225, 0, 0);
    border: none;
    font-weight: bold;
    font-size: 12pt;
    color: white;
    text-align: center;
    margin: 5px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
    /* margin-right: 15px; */
}

.guest--removeBtn:hover,
.guest--removeBtn:focus {
    background-color: rgb(200, 0, 0);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5) inset;
}

.guest--removeBtn:active {
    transform: scale(.95);
}

.guest--submitBtn {
    color: white;
    background: rgba(var(--primary-rgb), .5);
    padding: 15px;
    font-size: 1.5rem;
    border: 1px solid rgba(var(--primary-rgb));
    border-radius: .25em;
    outline: none;
    cursor: pointer;
    margin: 5px;
    width: 100%;
}

.guest--submitBtn:hover,
.guest--submitBtn:focus {
    color: white;
    background-color: rgba(var(--primary-rgb), .8);
}

.guest--submitBtn:active {
    transform: scale(.95);
}


.guest--form--name-input,
.guest--form--email-input {
    border: none;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    color: white;
    margin: 10px;
}

.guest--form--email-input {
    margin-right: 20px;
}

.form-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 540px) {

    .guest--form-modal > .modal-content {
     width: 100%;
    
      
    }

    .form-inline {
        flex-direction: column;
        background-color: rgba(34, 34, 34, 0.5);
        margin: 10px;
        border-radius: 10px;
        align-items: unset;
    }

    .guest--form-btns {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    .guest--form--name-input,
    .guest--form--email-input {
        margin: 10px;
    }

    .guest--removeBtn {
        /* margin: auto; */
        margin-bottom: 10px;
    }

}