
body
{
  margin: 4rem 0;
}
 
.header
{
  margin-bottom:2rem;
  margin-top: 1rem;
}

.panel
{
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.modal-dialog
{
  overflow-y: initial !important;
  /* display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center; */
  margin: 10 auto;
  max-width: 1200px;
}

.modal-body
{
  height: 80vh;
  overflow-y: auto;
}

.restaurant--grid-display 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}