.modal
{
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.modal-dialog
{
  display: contents;
  overflow-y: initial !important;
  margin: 10 auto;
  max-width: 1200px;
  box-shadow: 20px 20px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.modal-open
{
  padding-right: 0px !important;
}

.modal-header
{
  border-bottom: solid 2px rgba(200, 200, 200, 0.25);
  background-color: rgba(200, 200, 200, 0.5);
}

h5.modal-title
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.restaurant--grid-title
{
  font-family: 'Lobster', sans-serif;
  font-size: 3rem;
}

.restaurant--grid-subtitle
{
  font-family: 'Lobster', sans-serif;
  font-size: 2rem;
}

.close
{
  display: none;
}

.modal-body
{
  overflow-y: auto;
  padding: 0;
  box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.51) inset;
  -webkit-box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.51) inset;
  -moz-box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.51) inset;
}

.modal-content
{
  backdrop-filter: blur(.25rem) saturate(180%);
  -webkit-backdrop-filter: blur(.25rem) saturate(180%);
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
}

.restaurant--grid-display 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.modal-footer
{
  border-top: solid 2px rgba(200, 200, 200, 0.25);
  backdrop-filter: blur(4px) saturate(180%);
  background-color: rgba(200, 200, 200, 0.5);
  padding: 0.5rem;
}

.modal-footer .restaurant--modal-closeBtn
{
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background-color: rgba(var(--primary-rgb));
  width: 128px;
  height: 50px;
}

.modal-footer .restaurant--modal-closeBtn:hover
{
  background-color: rgb(0, 120, 200);
}

.modal-footer .restaurant--modal-closeBtn:active
{
  transform: scale(0.9);
}

/* Scrollbar */
.modal-dialog ::-webkit-scrollbar 
{
  width: 20px;
}

/* Track */
.modal-dialog ::-webkit-scrollbar-track 
{
  border-radius: 10px;
  backdrop-filter: blur(.25rem) saturate(180%);
  -webkit-backdrop-filter: blur(.25rem) saturate(180%);
  background-color: rgba(200, 200, 200, 0.25);
  margin-top: 5px;
  margin-bottom: 5px;
}
 
/* Handle */
.modal-dialog ::-webkit-scrollbar-thumb 
{
  background-color: orange;
  border-radius: 10px;
}

/* Handle on hover */
.modal-dialog ::-webkit-scrollbar-thumb:hover
{
  background-color: darkorange;
}