.voting--restaurant-thumbnail-container {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    overflow: auto;
    margin: 10px;
    padding: 5px;
}

.voting--carousel {
    width: 1000px;
    height: 500px;
    margin: auto;
    border-radius: 1rem;
}

.voting--carousel-item {
    width: 1000px;
    height: 500px;
    border-radius: 1rem;
}

.voting--carousel-image {
    width: 1000px;
    height: 500px;
    object-fit:cover;
    border-radius: 1rem;
}

.voting--carousel-item-caption {
    text-shadow: 2px 2px 2px black;
}

.countdown--container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.voting-page--btn {
    background-color: rgba(255, 255, 255, 1);
}

